/** STICKY FOOTER LAYOUT START: http://css-tricks.com/snippets/css/sticky-footer/ **/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 142px; 
}
.site-footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    color: #777;
    text-align:center;
    font-size: 1em;
}

/** STICKY FOOTER LAYOUT END **/

#header {
	padding:1%;
}

#content {
	padding:1%;
}