.bissolConfigBox{
    position: relative;
    top: 1em;
} 

.bissolConfigSubmit{
    width: 92%;
    height: 92%;
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
} 

.bissolTableMetadataBox{
    position: relative;
    top: 1em;
} 

.bissolExistsInConfig{
    color: green;
}

.bissolNotExistsInConfig{
    color: red;
}

.bissolConfigLabel{
    margin-right: 4px;
}