th{
    background-color: #ffffff !important;
    border-bottom: 1px solid #428bca !important;
}

#dbTablePicker{
    margin-bottom: 2em;
}

.btde-button{
    margin-bottom: 2em;
}

#new-record-save-button-div{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.add-row{
    margin-right:2px;
    margin-left:2px;
}

.remove-row{
    margin-right:2px;
    margin-left:2px;
}

.save-row{
    margin-right:2px;
    margin-left:2px;
} 

.content-non-editable{
    color:#3276b1;
}

.row-highlight{
    background-color: #acbad4 !important;
}
/**
.newrecord > td{
    background-color:#C0C2FC;
    border-style:solid;
    border-bottom:#4848FA;
} 
**/ 
